<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${nombre}">...</title>
    <div th:replace="general :: CSS"></div>
</head>
<body>
	<div th:if="${usuario == 'ignacio' && empresa != 'null'}">
	<img height="300px" src="https://cdni0.trtworld.com/w960/h540/q75/32441_saopaulo_1525187865296.jpg"/>
    <h2><span th:text="${empresa}"></span> se ha eliminado</h2>
    <h2>usted es muy cruel senior <span th:text="${usuario}"></span></h2>
    </div>
    <div th:if="${usuario == 'user'}">
    <h1>you have no power here</h1>
    <img height="200px" src="https://i.ytimg.com/vi/fBGWtVOKTkM/maxresdefault.jpg"/>
    </div>
    <div th:if="${usuario == 'ignacio' && empresa == 'null'}">
    <h1>No existe una empresa con ese ID</h1>
    </div>
    <br>
    <a th:href="@{'/'}">Volver al home</a>
    <div th:replace="general :: JQuery"></div>
</body>
</html>