<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresas</title>
    <div th:replace="general :: CSS"></div>
</head>
<body>
<div th:replace="general :: navbar"></div>
<table class="table">
	<thead>
      <tr th:if="${error != 1}">
      	<th scope="col" th:if="${usuario == 'ignacio'}" th:text="ID"></th>
      	<th scope="col">Nombre</th>
      	<th scope="col">Direccion</th>
      	<th scope="col">Informacion</th>
      	<div th:if="${usuario == 'ignacio'}">
      	<th scope="col">Accion 1</th>
      	<th scope="col">Accion 2</th>
      	</div>
      </tr>
     </thead> 
   <tbody th:each="empresa : ${empresas}" th:remove="tag">
      <tr>
   		 <td th:if="${usuario == 'ignacio'}" th:text="${empresa.id}"></td>
         <td th:text="${empresa.nombre}">..</td>
         <td th:text="${empresa.direccion}">..</td>
         <td> <a class="btn btn-primary btn-lg active" role="button" th:href="@{'/ver/' + ${empresa.id}}">Ver Mas</a></td>
         <div th:if="${usuario == 'ignacio'}">
         <td><a class="btn btn-danger btn-lg active" role="button" th:href="@{'/destroy/' + ${empresa.id}}">Eliminar</a></td>
         <td><a class="btn btn-success btn-lg active" role="button" th:href="@{'/edit/' + ${empresa.id}}">Editar</a></td>
         </div>
      </tr>
   </tbody>
</table>

<div th:replace="general :: JQuery"></div>
</body>
</html>