<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${empresa}">...</title>
    <div th:replace="general :: CSS"></div>
</head>
<body>
<div th:replace="general :: navbar"></div>
<table class="table">
	<thead>
      <tr th:if="${error == 0}">
      	<th scope="col">Nombre</th>
      	<th scope="col">Edad</th>
      	<th scope="col">Sueldo</th>
      	<th scope="col">Ingreso</th>
      	<th scope="col">Patrimonio</th>
     </tr>
  	</thead> 
   <tbody th:each="empleado : ${empleados}" th:remove="tag">
      <tr>
         <td th:text="${empleado.nombre}">..</td>
         <td th:text="${empleado.edad}">..</td>
         <td th:text="${'$'+empleado.sueldo}">..</td>
         <td th:text="${2019 - empleado.antiguedad}">..</td>
         <td th:text="${'$'+(empleado.patrimonio)/1000 + 'k'}">..</td>
      </tr>
   </tbody>
</table>
<br>
<a th:href="@{'/ver/' + ${id}}" class="btn btn-outline-dark btn-block" role="button">Volver</a>
<div th:replace="general :: JQuery"></div>
</body>
</html>