<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${nombre}">...</title>
    <div th:replace="general :: CSS"></div>
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
	  <h1 th:text="${nombre}" class="display-4">...</h1>
	  <p th:text="${direccion}" class="lead">....</p>
	  <hr class="my-4">
	  <img height="120px" th:src="${imagen}"/>
	  <a class="btn btn-primary btn-lg" th:href="@{'/ver/' + ${id} + '/empleados'}" role="button">ver Empleados</a>
	  <a class="btn btn-primary btn-lg" th:href="@{'/'}" role="button">Volver</a>
	  <br>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
	  sed do eiusmod tempor incididunt ut labore et dolore magna 
	  aliqua. Odio eu feugiat pretium nibh. Pellentesque pulvinar 
	  pellentesque habitant morbi tristique. Quis vel eros donec ac. 
	  Volutpat ac tincidunt vitae semper. Diam phasellus vestibulum 
	  lorem sed risus ultricies tristique. Condimentum vitae sapien 
	  pellentesque habitant morbi tristique senectus et. Posuere 
	  sollicitudin aliquam ultrices sagittis orci a scelerisque purus. 
	  Pharetra pharetra massa massa ultricies mi quis hendrerit. 
	  Augue mauris augue neque gravida in.</p>
	  <p>Duis at consectetur lorem donec massa sapien faucibus et. 
	  Eu volutpat odio facilisis mauris sit. At auctor urna nunc id 
	  cursus metus aliquam. Pellentesque elit ullamcorper dignissim 
	  cras tincidunt lobortis feugiat vivamus. Dolor magna eget est 
	  lorem ipsum dolor sit amet. Amet dictum sit amet justo donec enim 
	  diam vulputate. Eget nunc lobortis mattis aliquam. Auctor elit sed 
	  vulputate mi sit amet mauris commodo. Condimentum mattis pellentesque 
	  id nibh tortor id aliquet lectus proin. Orci eu lobortis elementum nibh 
	  tellus molestie. Feugiat nisl pretium fusce id velit ut. Sed libero enim 
	  sed faucibus turpis in eu mi.</p>
	</div>

	<div th:replace="general :: navabajo"></div>
	
    <div th:replace="general :: JQuery"></div>
</body>
</html>